.outer-container {
    max-width: 50%;
    max-height: 50%;
    padding:2%
  }
  
.carousel-inner{
    border-radius: 20px;

}

  img {
  height: 75vh;
  width:100vh;

  }
/* For img, maybe try setting specific values for different heights/widths with media queries
Problem is that source img dimensions vary*/
  