.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  padding-left: 3%;
}

.card {
  width: calc(19%);
  margin-bottom: 20px;
  margin-top: 10px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.3s ease;
  cursor: pointer;
}

.card.image-loaded {
  opacity: 1;
  transform: translateY(0);
}

.card:hover {
  transform: scale(1.01); /* Enlarge effect on hover */
  box-shadow: 0px 0px 20px 0px rgba(0, 200, 255, 0.164); /* Soft bloom effect on hover */
}

.item-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.btn:active {
  transform: scale(0.95);
}
.item-buttons .btn{
  padding:3%
}

/* Extra small screens */
@media (max-height: 575px), (max-width: 575px) {
  .card-img-top {
    height: 75px; /* Set the image height for the smallest screens */
  }
  .card-title {
    font-size: xx-small;
  }
}

/* Small screens */
@media (min-height: 576px) and (max-height: 767px),
       (min-width: 576px) and (max-width: 767px) {
  .card-img-top {
    height: 100px; /* Set the image height for small screens */
  }
  .card-title {
    font-size: x-small;
  }
}

/* Medium screens */
@media (min-height: 768px) and (max-height: 991px),
       (min-width: 768px) and (max-width: 991px) {
  .card-img-top {
    height: 125px; /* Set the image height for medium screens */
  }
  .card-title {
    font-size: smaller;
  }
}

/* Large screens */
@media (min-height: 992px) and (max-height: 1199px),
       (min-width: 992px) and (max-width: 1199px) {
  .card-img-top {
    height: 150px; /* Set the image height for large screens */
  }
  .card-title {
    font-size: medium;
  }
}

/* Extra large screens */
@media (min-height: 1200px) and (max-height: 1399px),
       (min-width: 1200px) and (max-width: 1399px) {
  .card-img-top {
    height: 200px; /* Set the image height for extra large screens */
  }
  .card-title {
    font-size: large;
  }
}

/* XXL screens */
@media (min-height: 1400px), (min-width: 1400px) {
  .card-img-top {
    height: 250px; /* Set the image height for the largest screens */
  }
  .card-title {
    font-size: larger;
  }
}


