.dropup {
  position: relative;
  display: inline-block;
  padding-top: 10px;
  padding-left: 50px;
}

/* Style the select element */
select.btn.btn-secondary {
  background-color: #e3e8ee; /* Grey-blue background color */
  border: 1px solid #c0c7d2; /* Border color */
  border-radius: 8px; /* Adjust this value for the desired level of rounding */
  color: #495057;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  cursor: pointer;
}

/* Style the select arrow icon */
select.btn.btn-secondary::after {
  content: "\f078"; /* FontAwesome chevron-down icon */
  font-family: "FontAwesome";
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Style the select on hover */
select.btn.btn-secondary:hover {
  border-color: #495057;
}
